<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445033485685-52meqp4ecegl0be9perasnrqq46r55vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445033485685-52meqp4ecegl0be9perasnrqq46r55vk</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ywgEmYU7AZxqZDtJ5ABNHqAy6jrgVpo</string>
	<key>GCM_SENDER_ID</key>
	<string>445033485685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raycorp.KingsEcho</string>
	<key>PROJECT_ID</key>
	<string>kingsecho-f64eb</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsecho-f64eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445033485685:ios:6ec965ff3c2a2cd460ef3c</string>
</dict>
</plist>